body {
  background-image: linear-gradient(purple, pink);
  background-attachment: fixed;
  font-family: 'Grandstander', cursive;
  width: 55%;
  margin: auto;
}

header h1 {
  font-size: 75px;
  text-align: center;
  color: aliceblue;
  margin-top: 24px;
  margin-bottom: 10px;
}

header p {
  color: aliceblue;
  text-align: center;
  font-size: 24px;
}

main{
  display: flex;
  justify-content: center;
}

#song-info {
  display: flex;
  justify-content: space-between;
}

#track-detail h2 {
  color: aliceblue;
  font-size: 40px;
  text-align: center;
  margin-left: 10px;
}

#track-detail p {
  color: aliceblue;
  text-align: center;
  font-size: 24px;
}



#record {
  border: solid;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  animation: ripple 1.5s linear infinite;
  transition: all 0.7s ease;
}

img {
  pointer-events: none;
}

article {
  color: aliceblue;
}

article h2 {
  font-size: 32px;
}

article p {
  font-size: 24px;
}

#record:hover {
  transform: scale(1.1);
}

#record:focus {
  outline: none;
}

@keyframes ripple {
  from {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 1px rgba(255, 255, 255, 0.3),
      0 0 0 3px rgba(255, 255, 255, 0.3),
      0 0 0 5px rgba(255, 255, 255, 0.3);
  }
  to {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 4px rgba(255, 255, 255, 0.3),
      0 0 0 20px rgba(255, 255, 255, 0),
      0 0 0 30px rgba(255, 255, 255, 0);
  }
}