body {
  background-image: linear-gradient(purple, pink);
  background-attachment: fixed;
  font-family: 'Grandstander', cursive;
  width: 55%;
  margin: auto;
}

header h1 {
  font-size: 75px;
  text-align: center;
  color: aliceblue;
  margin-top: 24px;
  margin-bottom: 10px;
}

header p {
  color: aliceblue;
  text-align: center;
  font-size: 24px;
}

#start {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.status {
  color: aliceblue;
  font-size: 48px;
}

#detected {
  display: flex;
  justify-content: center;
}

#track-detail h2 {
  color: aliceblue;
  font-size: 40px;
  text-align: center;
}

#track-detail p {
  color: aliceblue;
  text-align: center;
  font-size: 24px;
}

#track-detail {
  margin-left: 20px;
}

.after-btn {
  cursor: pointer;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  color: aliceblue;
  background-color: rgb(255, 98, 25);
  margin: 0 auto;
  font-family: 'Grandstander', cursive;
  display: block;
  margin-top: 10px;
}

#record {
  margin: 70px;
  border: solid;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  animation: ripple 1.5s linear infinite;
  transition: all 0.7s ease;
}

img {
  pointer-events: none;
}

#record:hover {
  transform: scale(1.1);
}

#record:focus {
  outline: none;
}

@keyframes ripple {
  from {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 1px rgba(255, 255, 255, 0.3),
      0 0 0 3px rgba(255, 255, 255, 0.3),
      0 0 0 5px rgba(255, 255, 255, 0.3);
  }
  to {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3),
      0 0 0 4px rgba(255, 255, 255, 0.3),
      0 0 0 20px rgba(255, 255, 255, 0),
      0 0 0 30px rgba(255, 255, 255, 0);
  }
}